:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #f8f9fa;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
.container{
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 5%;
}
.header {
  background: var(--darkgray);
  padding: 1rem 0;
}
.header a[href]:visited,
.header a{
  color: #fff;
}
.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts */
.entry-title{
  font-size: 2rem;
}
.entry-meta{
  font-size: .8rem;
  margin-bottom: 3rem;
}
.entry-meta p{
  margin: 0 0 0.5em;
}
.entry-footer {
  background: var(--gray);
  padding: 1rem;
}
.entry-footer nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.entry-footer a{
  flex: 0 0 49%;
  display: flex;
  align-items: center;
}
.entry-footer .mr{
  margin-right: 0.5em;
}
.entry-footer a:last-child{
  text-align: right;
}

.entry-content{
  margin: 1rem auto;
}

.entry-content img{
  max-width: 100%;
  height: auto;
}
/* Posts list */
.postlist{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.postlist-item {
  flex: 0 0 calc(50% - 0.5rem);
  margin-bottom: 1rem;
  background: var(--lightgray);
  padding: 1rem;
  box-sizing: border-box;
}
@media (min-width: 50rem ){
  .postlist-item {
    flex: 0 0 calc(33.33% - 0.5rem);
  }
}
.postlist-date{
  font-size: 0.8em;
}

.postlist-link {
  display: block;
  margin-bottom:1em;
  font-size: 1.2rem;
  text-decoration: none;
}
.postlist-link:focus,
.postlist-link:hover {
  text-decoration: underline;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
