---
title: Archive d'auteur
layout: layouts/home.njk
pagination:
  data: collections.authors
  size: 1
  alias: author
permalink: "authors/{{ author | slug }}/"
renderData:
  author: "{{ author }}"
  title: "Article de {{ author }}"
  metaDescription: "Archive de tous les article de l'auteur : {{ author }}."
---

<h1>{{ renderData.title | safe }}</h1>

{% set postslist = collections.authors[author] %}
{% include "postslist.njk" %}

