---
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Derniers {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} articles{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p><a href="{{ '/posts/' | url }}">Voir les précédents articles</a>.</p>
