---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="entry">
  <header class="entry-header">
    <h1 class="entry-title">{{ title }}</h1>
    <div class="entry-meta">
      <p>
        <a href="/authors/{{ author | slug }}">{{ author | safe }}</a>
        {% for tag in tags %}
          {%- if collections.tagList.indexOf(tag) != -1 -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
      </p>
      <p class="entry-date">Publié le <strong>{{ date | readableDate }}</strong></p>
    </div>
  </header>
  <div class="entry-content">
    {{ content | safe }}
  </div>

  <footer class="entry-footer">
    <nav>
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}<a href="{{ previousPost.url | url }}"><span class="mr">⬅️</span> <span>{{ previousPost.data.title }}</span></a>{% endif %}
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}<a href="{{ nextPost.url | url }}"><span class="mr">{{ nextPost.data.title }}</span> <span>➡️</span></a>{% endif %}
    </nav>
  </footer>
</article>

